body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: beige;
    max-width: 800px;
    margin-inline: auto;
}

nav > a:link, nav > a:visited {
    color: blue;
    margin-right: 10px;
}
  
nav > a:hover, nav > a:active {
    text-decoration: dotted;
}

#main-container {
    margin-top: 20px;
}

#main-container > input, #edit-container > label {
    margin-right: 20px;
}

.record, .entry, .subentry {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

label {
    display: inline-block;
}

thead {
    font-weight: bold;
}

table {
    width: 100%;
}

table td, table th {
    padding: 10px; /* Adjust the padding value as needed */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}
